.fumble-table {
  width: 100%;
  .dice-roll {
    width: 2em;
  }
  .name {
    width: 10em;
  }
}
.fumble-type {
  text-transform: capitalize;
}

h2 {
  padding-left: 0.5em;
}
p {
  padding-left: 1em;
}

table {
  padding-right: 1em;
  padding-left: 1em;

  // tr:nth-child(even) {
  //   background: #ccc;
  // }
  tbody tr:nth-child(odd) {
    background: #afa26c;
  }
}
