@import "../../styles/media.scss";
@import "../../styles/utils/setLocation.scss";

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;

  #content {
    overflow-x: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    // width: 95%;
  }
}
